body {
    background-color: #E5E5E5;
    font-family: 'montserrat', 'arial';
}

li {
    line-height: 24px;
}

/*----------------------*/
/* Contenido Principal*/
/*----------------------*/

.contenedor-principal {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 1200px;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/*----------------------*/
/*Informacion general*/
/*----------------------*/
.informacion-general {
    padding: 100px 88px;
}

/* Seccion de Descripción */

.nombre {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.texto-descripcion {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.descripcion-profesion {
    font-size: 14px;
    font-weight: 700px;
}

/* Secciones Principales */

.titulo-seccion-principal {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 45px;
}

.texto-naranja {
    color: #FB6D3A;
}

.periodo-experiencia {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

/* Sección Proyectos */

.lista-proyectos {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 17px;
}

.enlace-proyectos {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.puntos-proyectos {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #595959;
}

/* Sección de Experiencia Laboral */

.puesto-empresa {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
}



.lista-experiencia {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 17px;
}

/* Seccion de Educación */

.titulo-universitario {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 8px 0;
}

.nombre-universidad {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

/*----------------------*/
/*Información Lateral */
/*----------------------*/

.informacion-lateral {
    padding: 40px 0;
    background-color: #1E2939;
}

.titulo-lateral {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 50px;
}

.contacto,
.habilidades-tecnologicas,
.habilidades-blandas {
    margin-left: 40px;
}

/* Sección de contacto*/
.tipo-contacto {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.contacto-info {
    color: rgb(177, 177, 177);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/*Seccion de Lista*/
.lista-lateral {
    padding-left: 17px;
}

.lista-lateral>li {
    color: #FB6D3A;
}

.elemento-lista-lareal {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}